.default-address-div {
    width: 100%;
    max-width: 576px;
}

.default-address-div .coupon-code-section span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    border: #dcaa15b7 solid 1px;
    background-color: white;
}

.default-address-div .coupon-code-section .coupon-code-cart {
    border: 0;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.shop-detail-page-main .detail-info {
    padding: 0 30px;
}

.product-slider-main {
    margin-right: 10px;
}

.shop-detail-page-main .attr-detail {
    font-size: 16px;
}

.shop-detail-page-main .size-filter.list-filter li a {
    border: 1px solid #dca915;
}

.product-delivery-icons div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

/* .product-delivery-icons div:not(:last-child) {
    margin-right: 10px;
    } */

.product-delivery-icons img {
    margin-right: 12px;
    width: 25px;
}
.product-delivery-icons p {
    font-size: 15px;
    font-weight: 600;
}

.footer-link-widget:not(:last-child) {
    margin-right: 0px;
}

.two-liner-text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* login css start here */

.rollmills-modal {
    border-radius: 18px;
    overflow: hidden;
    border: none;
}

/* LEFT SECTION */
.left-box {
    background: rgba(220, 169, 21, 0.32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box .tagline {
    font-size: 22px;
    opacity: 0.9;
    margin: 14px 0 48px;
    font-weight: 700;
    color: black;
}

.feature-box {
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgba(255, 216, 118, 0.1);
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 9px 0px inset;
    padding: 28px 18px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    backdrop-filter: blur(4px);
    transition: 0.3s;
}

.feature-box:hover {
    background: rgba(255, 255, 255, 0.2);
}

.feature-box .emoji {
    font-size: 28px;
}

.feature-box h5 {
    font-size: 17px;
    text-align: center;
    margin: 8px 0 12px;
}

.feature-box p {
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
}

#loginModal img {
    width: 136px;
}

/* RIGHT SECTION */
.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group-text {
    background: #0b1e39;
    color: #fff;
    border: none;
}

.form-control:focus {
    border-color: #e0b200;
    box-shadow: 0 0 0 0.2rem rgba(224, 178, 0, 0.35);
}

.btn-login {
    background: #e0b200; /* Rollmills golden yellow */
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    margin-top: 2.5rem;
}

.btn-login:hover {
    background: #cfa000;
}

.policy-link {
    color: #0b1e39;
    font-weight: 600;
}

.otp-container input {
    height: 55px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.otp-input:focus {
    border-color: #e0b200 !important;
    box-shadow: 0 0 0 0.2rem rgba(224, 178, 0, 0.35);
}

/* login css end here */

@media (max-width: 1200px) {
    .container.shop-detail-page-main,
    .container.footer-strip,
    .container.footer-mid-inner,
    .container.footer-lower {
        padding: 0 2rem;
        max-width: 100%;
    }

    .product-slider-nav-thumbnails {
        display: flex;
        height: fit-content;
        width: 150%;
        overflow: overlay;
    }

    .product-slider-nav-thumbnails .img-card {
        width: 15%;
    }

    .product-slider-nav-thumbnails .img-card:not(:last-child) {
        margin-right: 10px;
    }

    .page-header.breadcrumb-wrap {
        padding: 8px 20px;
        font-size: 12px;
    }

    .product-slider-main {
        margin-right: 0;
    }

    .shop-detail-page-main .detail-info {
        padding: 0px 10px;
    }

    .shop-detail-page-main .detail-info h2.title-detail {
        font-size: 1.8em;
    }

    .home-page-main .container {
        /* padding: 0 2rem; */
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    #loginModal .modal-xl {
        max-width: 1020px;
    }
}

@media (max-width: 992px) {
    .product-delivery-icons {
        margin-bottom: 15px;
    }

    .product-delivery-icons img {
        width: 30px;
    }
}

@media (max-width: 768px) {
    .shop-detail-page-main .detail-info {
        padding: 0px;
    }
    .footer-mid .logo img {
        max-width: 100px;
    }
    .logo.logo-width-1 a img {
        width: 70px;
        min-width: 70px;
    }
    .header-bottom {
        height: 80px;
    }
}

@media (max-width: 576px) {
    .banner-left-icon .banner-icon img {
        width: 36px;
    }
    .banner-left-icon .banner-text h3 {
        font-size: 14px;
    }
    .banner-left-icon .banner-text p {
        font-size: 13px;
    }

    .product-delivery-icons img {
        width: 25px;
        margin-right: 10px;
    }

    .product-delivery-icons p {
        font-size: 12px;
        line-height: 1.2em;
    }

    .detail-info .product-price .current-price {
        font-size: 40px;
    }

    .detail-info .product-price .old-price {
        font-size: 20px;
    }

    .detail-info .product-price {
        margin: 6px 0 20px;
    }
}
