.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.quicksand {
    font-family: "Quicksand", sans-serif !important;
}

.fit-content {
    width: fit-content !important;
}

.color-1 {
    color: #dca915 !important;
}

.color-2 {
    color: #a36f02 !important;
}

.color-3 {
    color: #543606 !important;
}

:root {
    --color-1: #dca915;
    --color-2: #a36f02;
    --color-3: #543606;
    --color-light-1: #dcaa15b7;
}

.hover-a {
    color: #6c757d;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.hover-a:hover {
    color: var(--color-1);
}

/* ==================================================================== */
/* Contact Us Css Start */
/* ==================================================================== */

.custom-a-tag:hover i {
    transform: rotate(-30deg);
    transition: transform 0.3s ease;
}

.contact_style3 {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    border-radius: 10px;
    transition: all 0.4s ease;
    height: 90%;
}

.contact_style3:hover {
    transform: translateY(-8px);
    border-bottom: 3px solid #e1990c;
}

.contact_style3 .contact_icon {
    border: 2px solid #e1990c;
    margin: 0 0 10px;
    height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

.contact_style3:hover .contact_icon::before {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.contact_style3 .contact_icon::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #e1990c;
    transition: all 0.5s ease-in-out;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 100%;
    z-index: -1;
}

.contact_style3:hover .contact_icon i {
    color: #fff;
}

.contact_style3 .contact_icon i {
    line-height: 78px;
    transition: all 0.5s ease-in-out;
}

.contact_icon i {
    font-size: 34px;
    color: #e1990c;
}

.contact_text span {
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    font-size: 25px;
}

/* ==================================================================== */
/* Contact Us Css End */
/* ==================================================================== */

/* ==================================================================== */
/* Login Css Start */
/* ==================================================================== */

.login-input {
    background: #fdfdfd !important;
    border: 2px solid #ececec !important;
    height: 55px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none;
    padding: 15px 20px !important;
    font-size: 14px !important;
    border-radius: 15px;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    color: #555;
    font-weight: 500;
}

.login-input::placeholder {
    color: #bfbfbf;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
}

.placeholder-style::placeholder {
    color: #bfbfbf;
    font-weight: 600;
}

.placeholder-font-family-quicksand::placeholder {
    font-family: "Quicksand", sans-serif;
}

.login-input:focus {
    background: #ddd;
    border: 2px solid #ddd !important;
}

.hover-brand:hover {
    transition: all 0.3s ease-in-out !important;
}

.hover-brand:hover {
    background-color: #e1990c !important;
}

/* ==================================================================== */
/* Home Page Css Start */
/* ==================================================================== */

.categories-dropdown-active-large-2 {
    list-style-type: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 99;
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid var(--color-light-1);
    border-radius: 10px;
    font-size: 16px;
    min-width: 240px;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
    visibility: hidden;
    margin-top: 10px;
}

.categories-dropdown-active-large-2 ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 48px;
    border-radius: 5px;
    border: 1px solid #f2f3f4;
    padding: 5px 15px;
    margin: 0 0px 10px 0;
    width: 100%;
    height: 40px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}

.categories-dropdown-active-large-2 ul li a img {
    max-width: 20px;
    margin-right: 8px;
}

.custom-dropdown-home {
    line-height: 40px;
    border-radius: 5px;
    padding: 0 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    color: #fff;
    background: var(--color-1);
    display: flex !important;
    align-items: center;
    font-weight: 700;
}

/* ==================================================================== */
/* Home Page Css End */
/* ==================================================================== */

/* ==================================================================== */
/* Login Css End */
/* ==================================================================== */

/* ==================================================================== */
/* Responsive Css Start */
/* ==================================================================== */

@media (max-width: 767px) {
    .product-cart-wrap .product-img-action-wrap {
        position: relative;
        background-color: #fff;
        overflow: hidden;
        /* max-height: 200px; */
        padding: 15px 15px 15px 15px;
    }

    .product-cart-wrap .product-content-wrap {
        padding: 15px 15px 15px 15px;
    }

    .product-cart-wrap .product-content-wrap h2 a {
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .product-cart-wrap .product-img-action-wrap .product-img-zoom a img {
        -webkit-transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
        transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
        height: 200px;
        object-fit: cover;
    }

    .product-cart-wrap .product-img-action-wrap .product-img a img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .product-cart-wrap .product-card-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 0px;
        flex-direction: column;
    }

    .product-cart-wrap .product-content-wrap .product-price {
        padding-top: 0px;
        margin-bottom: 10px;
    }

    .product-cart-wrap .product-content-wrap .product-price span {
        font-size: 16px;
        font-weight: bold;
        color: #e1990c;
    }

    .product-cart-wrap .product-content-wrap .product-price span.old-price {
        font-size: 12px;
        color: #adadad;
        margin: 0 0 0 7px;
        text-decoration: line-through;
    }

    .product-cart-wrap .product-card-bottom .add-cart .add {
        position: relative;
        display: inline-block;
        padding: 6px 20px 6px 20px;
        border-radius: 4px;
        background-color: #def9ec;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .font-small.text-muted a {
        display: none;
    }

    .header-wrap.header-space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: start;
        padding: 0px 0px;
    }

    .logo.logo-width-1 a img {
        width: 100px;
    }

    .logo.logo-width-1 {
        margin-right: auto;
    }

    .burger-icon {
        margin: 0pc 10px;
    }
}

@media (max-width: 575.98px) {
    .product-cart-wrap .product-img-action-wrap {
        position: relative;
        background-color: #fff;
        overflow: hidden;
        /* max-height: 200px; */
        padding: 10px 10px 10px 10px;
    }

    .product-cart-wrap .product-content-wrap {
        padding: 10px 12px 10px 12px;
    }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-wrap.header-space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: start;
        padding: 10px 0px;
    }

    .logo.logo-width-1 a img {
        width: 110px;
    }

    .logo.logo-width-1 {
        margin-right: auto;
    }

    .burger-icon {
        margin: 0pc 10px;
    }

    .mobile-header-wrapper-style
        .mobile-header-wrapper-inner
        .mobile-header-top {
        padding: 10px 25px 10px 20px;
        border-bottom: 1px solid #ececec;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-wrap.header-space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: start;
        padding: 15px 0px;
    }

    .logo.logo-width-1 a img {
        width: 100px;
    }

    .logo.logo-width-1 {
        margin-right: auto;
    }

    .burger-icon {
        margin: 0pc 10px;
    }

    .mobile-header-wrapper-style
        .mobile-header-wrapper-inner
        .mobile-header-top {
        padding: 10px 25px 10px 20px;
        border-bottom: 1px solid #ececec;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

/* ==================================================================== */
/* Responsive Css End */
/* ==================================================================== */
